<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/static/styles.ccs" />
<head>
    <meta charset="UTF-8">
    <title>Feature Viewer</title>
</head>
<body>
    <h1>Feature Viewer</h1>

    <!-- Display the result if available -->
    {% if result %}
        <p>{{ result }}</p>
    {% endif %}

    <!-- Create a form that sends a POST request when the button is clicked -->
    <form method="POST" action="/run_code">
        <button type="submit">Use Uploaded File</button>
    </form>
</body>